@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800;900&display=swap');

.container {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -207px;
    width: 348px;
    text-align: center;
    padding: 35px 33px 42px;
}

.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    font-style: normal !important;
    margin: 0 0 40px !important;
}

.button {
    height: 36px;
    width: 347px;

    cursor: pointer;

    padding: 10px;

    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    background-color: rgb(25, 118, 210);
    border: none;
    border-radius: 30px;
}

button:hover {
    background-color: rgb(11, 104, 192);
    box-shadow: rgb(0 0 0 / 20%) 0 3px 1px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 1px 5px 0;
}

.textBox {
    margin-top: 20px;
    margin-bottom: 25px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: gray;
}

.textMessage {
    letter-spacing: inherit;
    color: gray;

    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
}

.image {
    box-sizing: border-box;

    width: 108px;
    left: 586px;
    top: 30%;
    bottom: 55%;
}