.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.text {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}
