@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800;900&display=swap');

.loginContainer {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -207px;
    width: 348px;
    text-align: center;
    padding: 35px 33px 42px;
}

.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    font-style: normal !important;
    margin: 0 0 40px !important;
}



.container{
    height: 100%;
    width: 80%;
    display: flex;
    margin-top: 60px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}
.registration{
    width: 528px;
    height: 500px;
    background: #FFFFFF;
    margin: 20px;
    padding: 23px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 10%);
    border-radius: 2px;

}
.from_registration{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input_registration{
    width:100%;
    margin-bottom: 12px;
}

.button_sing_up{
    width: 100%;
    background: #366EFF;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
