@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800;900&display=swap');

.loginContainer {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -207px;
    width: 348px;
    text-align: center;
    padding: 35px 33px 42px;
}

.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    font-style: normal !important;
    margin: 0 0 40px !important;
}