title {
    position: relative;

    margin: 0 0 30px;

    text-transform: uppercase;
    letter-spacing: 5px;
}

title :before {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 100px;
    height: 1px;
}

h2 {
    position: relative;

    padding-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}
