.testStand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.components {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}