.cardsNumber {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.text {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.slider {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;

    border: 1px solid #D9D9D9;
    border-radius: 2px;
}